@font-face {
    font-family: 'Fira Code';
    src: url('../fonts/FiraCode-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Fira Code';
    src: url('../fonts/FiraCode-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Fira Code';
    src: url('../fonts/FiraCode-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Fira Code';
    src: url('../fonts/FiraCode-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Fira Code';
    src: url('../fonts/FiraCode-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

:root {
    --font-stack: Fira Code, monospace;
    --mono-font-stack: Fira Code, monospace;
}

body {
    font-family: var(--font-stack);
}
