{{ define "main" }}

<ul>
    <li><a href="https://twitter.com/ichernetsky">Twitter</a></li>
    <li><a href="https://github.com/ichernetsky">Github</a></li>
    <li><a href="https://linkedin.com/in/ichernetsky">LinkedIn</a></li>
</ul>

{{ with .Site.GetPage "/posts" }}
<h1>Latest posts</h1>
<div class="posts-list">
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
    <div class="post">
        <p>
            <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
            {{ .Summary }}
        </p>
    </div>
    {{ end }}
    {{ end }}
</div>
{{ end }}
